.App-header {
  background-color: #08d;
  display: flex;
  justify-content: center;

}

.home {
  text-align: center;
  padding-top: 50px;
}

.home-img-container {
  display: flex;
  list-style: none;
  justify-content: center;
}

.home-img-container img {
  padding: 15px;
  border-radius: 5px;
  float: left;
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.Nav {
  padding-top: 2px;
  text-align: center;
}

.page-header h2 {
  text-align: center;
}

.form {
  text-align: center;
  background-color: #bfcfe8;
  border-radius: 12px;
  width: 500px;
  padding: 10px;
  margin-top: 30px;
  position: relative;
  left: 39rem;
}

.input {
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: black;
  padding: 4px 20px 0;
  width: 100%;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 20px;
}

.change-form {
  text-align: center;
}

.student-name {
  text-align: center;
}

.teacher-name {
  text-align: center;
  text-decoration: underline;
}

.student-info {
  text-align: center;
  padding: 5px;
  padding-right: 2px;
}
.student-image {
  max-width: 25%;
  max-height: 100%;
}

.teacher-info {
  padding: 5px;
  text-align: center;

}

.change-input {
  padding: 2px;

}

.buttons {}

.delete-btn {
  text-align: right;
  margin-left: 155px;
  background-color: white;
  border-radius: none;
  border: white;
}

.teacher-image {
  max-width: 25%;
  max-height: 100%;
}

.home p {
  padding: 4px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  width: 600px;
  margin: auto;
}